:root{
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --red: rgb(244, 27, 27);
    --fontSize: larger;
    --transition: all 0.5s;
    --padding: 15px 20px;
    --borderRadius: 35px;
}
.textButton{
    cursor: pointer;
    border-radius: var(--borderRadius);
    color: var(--black);
    font-size: var(--fontSize);
    background-color: var(--white);
    padding: var(--padding);
    border: none;
    transition: var(--transition);
}
.textButton:hover{
    background-color: var(--black);
    color: var(--white);
}
.redTextButton{
    cursor: pointer;
    border-radius: var(--borderRadius);
    font-size: var(--fontSize);
    padding: var(--padding);
    border: none;
    transition: var(--transition);
    background-color: var(--red);
    color: var(--white);
}
.iconButton{
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    
}
.iconButton img{
    width: 40px;
    height: 40px;
}