.textButton{
    cursor: pointer;
    border-radius: var(--buttonBorderRadius);
    color: var(--black);
    font-size: var(--fontSize);
    background-color: var(--white);
    padding: var(--padding);
    border: none;
    transition: var(--transition);
}
.textButton:hover{
    background-color: var(--black);
    color: var(--white);
}
.redTextButton{
    cursor: pointer;
    border-radius: var(--buttonBorderRadius);
    font-size: var(--fontSize);
    padding: var(--padding);
    border: none;
    transition: var(--transition);
    background-color: var(--red);
    color: var(--white);
}
.iconButton{
    cursor: pointer;
    padding: 0;
    border: none;
    background-color: transparent;
    
}
.iconButton img{
    width: 40px;
    height: 40px;
}